body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}
a {
  text-decoration: none;
}

header{
  color: #333;
  height: 30px;
  font-size: 10px;
  margin-top:10px;
  letter-spacing: 1px;
  line-height: 10px;
  background-color: #fff;
  padding-top: 50px;
}
.header-word{
  color:#333;
  float: left;
  font-size: 10px;
  margin-left: 20%;
}
.header-list li{
  list-style: none;
  margin-right: 10px;
  display: inline-block;
}
.header-list {
  margin-left: 70%;
}
/*メイン*/
.my-name {
  text-align: center;
  height: 300px;
  padding-top: 150px;
}
.works-wrapper {
  font-size:20px;
  text-align: center;
}
.works-wrapper img{
  background-size: cover;
  height: 500px;
  width: 100%;
}
.concept-wrapper{
  margin-top: 200px;
  text-align: center;
  background-color: #f9f9f9;
  padding: 50px 0px;
}
footer{
  margin-top: 100px;
  height: 30px;
  font-size: 18px;
}
.my img{
  width:160px;
  border-radius: 50%;
}
.my {
  text-align: center;
  margin-top: 30px;
}
.my h1{
  font-size: 19px;
  text-align: center;
  letter-spacing: 1px;
}
.my p{
  text-align: center;
}
.btn:hover{
  opacity: 1;
}
.btn-wrapper {
  margin: 20px 0;
  text-align: center;
}
.twitter {
  background-color: #55acee;
}
.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.fab {
  margin-right: 5px;
}
